.fb-feedCard {
  background: #252728;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 5px;
  max-width: 900px;
  font-family: 'San Francisco', Helvetica;
  color: #050505;
}

.fb-feedCard-header {
  display: flex;
  align-items: center;
  margin: 12px;
}

.fb-feedCard-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 10px;
}

.fb-feedCard-info {
  display: flex;
  flex-direction: column;
}

.fb-feedCard-info strong {
  font-size: 16px;
  color: #fff;
}

.feedCard-Color-Light .fb-feedCard-header .fb-feedCard-info strong {
  color: black;
}

.fb-feedCard-info span {
  font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #b0b3b8;
}

.feedCard-Color-Light .fb-feedCard-header .fb-feedCard-info .fb-feedCard-subInfo span {
  color: #65686c;
}

.fb-feedCard-subInfo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: #b0b3b8;
  margin-top: 2px;
}

.fb-feedCard-content {
  margin-bottom: 4px;
  padding: 0;
}

.fb-feedCard-image {
  width: 100%;
  object-fit: cover;
  max-height: 600px;
}

.fb-feedCard-footer {
  padding-bottom: 8px;
}

.fb-feedCard-footer-likes-comments {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 0 20px;
  color: #b0b3b8;
}

.feedCard-Color-Light .fb-feedCard-footer span{
  color: #65686c;
}

.fb-feedCard-footer-comments-quantity {
  display: flex;
  align-items: center;
}

.fb-feedCard-footer-comments-quantity-empty {
  visibility: hidden;
}

.fb-feedCard-footer-comments-quantity span {
  font-size: 16px;
  margin-top: 3px;
  padding: 2px 0px;
}

.fb-feedCard-footer-likes-quantity {
  display: flex;
  align-items: center;
  gap: 4px;
}

.fb-feedCard-footer-likes-quantity span {
  font-size: 16px;
  margin-top: 4px;
  padding: 2px 0px;
}

.fb-feedCard-footer-likes-quantity-empty {
  visibility: hidden;
  padding-bottom: 4px;
}

.fb-feedCard-footer-divider {
  border: none;
  height: 1px;
  width: 95%;
  background-color: #65686c;
  margin: 0 auto 8px auto;
}

.fb-feedCard-footer-actions {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
}

.fb-feedCard-footer-actions .fb-Fa-Icons {
  font-size: 18px;
}

.fb-feedCard-footer-actions span {
  margin: 0px 3px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  color: #b0b3b8;
  flex: 1;
  text-align: center;
  border-radius: 5px;
  transition: background 0.5s ease;
  user-select: none;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
}

.fb-feedCard-footer-actions > span > span {
  vertical-align: 0.4vh;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 0.5s ease, opacity 0.5s ease;
}

.fb-feedCard-footer-actions > span:hover {
  background: #3b3d3e;
}

.fb-feedCard-footer-likes-comments-container {
  display: block;
}

.fb-feedCard-footer-likes-comments-container-empty {
  display: none;
}

.Button-Mode {
  outline: none;
  display: flex;
  position: fixed;
  color: black;
  background: white;
  top: 10px;
  right: 14px;
  justify-content: center;
  align-items: center;
  font-size: 4.1vh; 
  border-radius: 5px;
  border: none;
  box-shadow: white 4px 4px 12px;
  cursor: pointer;
  transition: all 0.8s ease;
  width: 8vh;
  height: 8vh;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}

.Button-Mode:hover {
  color: #fff;
  background: linear-gradient(135deg, #aa01ff 20%, #020056 80%, #000 100%);
  box-shadow: #aa01ff 4px 4px 12px;
}

.Button-Mode-Light {
  color: yellow;
  background: #252728;
  box-shadow: black 4px 4px 12px;
}

.Button-Mode-Light:hover {
  color: black;
  background: linear-gradient(135deg, #fe8801 20%, #ffff00 50%, #fff 100%);
  box-shadow: yellow 4px 4px 12px;
}

@keyframes hideText {
  0% {
    display: none;
  }
  100% {
    display: none;
  }
}

@keyframes showText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .fb-feedCard-footer-actions > span > span {
    animation: hideText 0.5s forwards;
    -webkit-animation: hideText 0.5s forwards;
  }

  .fb-feedCard-footer-actions .fb-Fa-Icons {
    font-size: 28px;
  }
}

@media (min-width: 601px) {
  .fb-feedCard-footer-actions > span > span {
    animation: showText 0.5s forwards;
  }
}
