@use 'mixins' as *;

.skills-container {
  width: 100%;
  padding: 1rem 0;
  margin-top: 4rem;

  .skills-title {
    @include text(28px, 700, #ffcc00, uppercase, 2px);
    margin-bottom: 1rem;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;

    .skills-frontend,
    .skills-backend {
      grid-column: span 2 / span 2;
    }

    .bg {
      margin-block: 1rem;
      width: 100%;
      height: 100%;
      @include card(15px, 10px, none);
      @include flex-center(column, 1rem);
      border-inline: 1.5px solid #ffcc00;
    }

    .title {
      text-transform: uppercase;
      @include text(20px, 700, #ffcc00, uppercase, 2px);
    }

    .skills-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2.5rem;

      .icon {
        border: 2px solid rgba(255, 255, 255, 0.05);
        aspect-ratio: 1;
        object-fit: cover;
        @include flex-center(row, none);
        @include card(10px, 10px, rgba(255, 255, 255, 0.1));
        cursor: pointer;
        transition: all 0.4s ease-in-out;
      }

      .html:hover {
        @include card-shadow(#f06529);
      }

      .css:hover {
        @include card-shadow(#663399);
      }

      .sass:hover {
        @include card-shadow(#c69);
      }

      .javascript:hover {
        @include card-shadow(#f7df1e);
      }

      .typescript:hover {
        @include card-shadow(#007acc);
      }

      .react:hover {
        @include card-shadow(#61dbfb);
      }

      .postgresql:hover {
        @include card-shadow(#336791);
      }

      .supabase:hover {
        @include card-shadow(#3ecf8e);
      }

      .git:hover {
        @include card-shadow(#f05032);
      }

      .github:hover {
        @include card-shadow(#bbbbbb);
      }

      .powershell:hover {
        @include card-shadow(#01044e);
      }

      .vercel:hover {
        @include card-shadow(#bbbbbb);
      }

      .angular:hover {
        @include card-shadow(#8d13f0);
      }

      .nodejs:hover {
        @include card-shadow(#83cd29);
      }

      .expressjs:hover {
        @include card-shadow(#fff);
      }

      .nestjs:hover {
        @include card-shadow(#e0234e);
      }
    }
  }
}
