<main class="home-container">
  <section class="home" id="home">
    <section class="more-info">
      <div class="profile-icon">
        @if (!imageFallback()) {
        <img src="assets/images/profile-image.webp" (error)="imageError()" />
        } @else {
        <svg-UserImage></svg-UserImage>
        }
      </div>
      <a href="https://poke-data-0.vercel.app/" target="_blank" class="btn">
        <span class="text">CV</span>
      </a>
    </section>
    <span class="welcome"> - {{ translate().welcome }} - </span>
    @if (numSemester() > 10) {
    <p class="home-text">{{ translate().paragraphFinish }}</p>
    } @else {
    <p class="home-text">{{ translate().paragraph }}</p>
    }
  </section>
  <div class="separator"></div>
  <about-page id="about"></about-page>
  <div class="separator"></div>
  <projects-page id="projects"></projects-page>
  <div class="separator"></div>
  <skills-page id="skills"></skills-page>
</main>
