@use 'mixins' as *;

.footer {
  @include center-items;
  @include position(relative, grid, false);
  grid-template-columns: 0.5fr 1.2fr;
  grid-template-rows: 1fr;
  padding-bottom: 1rem;
  margin-top: 4rem;

  .info {
    grid-area: 1 / 1 / 2 / 2;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    color: white;

    .title {
      @include text(2rem, 650, white, uppercase);
    }

    .social {
      @include flex-center(row, 0.5rem);
      justify-content: flex-start;

      .link {
        @include cube-width(3rem);
        @include card(15px, 0px, rgba(255, 255, 255, 0.1));
        @include flex-center(row, 0px);
        @include link-decoration;
        @include hover-scale(1.1, rgba(255, 255, 255, 0.2));
      }
    }

    .rights {
      @include small-text(gray, 0.9rem);
      width: 32ch;
    }
  }

  .about {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    color: white;

    .title {
      @include text(1.2rem, 700, white);
    }

    .columns {
      font-size: 1.2rem;
      @include card(
        15px,
        1.2rem,
        linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.02))
      );
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .link {
        font-size: 1.1rem;
        width: fit-content;
        @include link-decoration;

        svg {
          @include cube-width(20px);
          margin-right: 0.5rem;
        }

        &:hover {
          color: rgb(215, 163, 163);

          svg {
            @include hover-scale(1.2, null);
          }
        }
      }

      .return {
        font-weight: 600;
        font-size: 1.3rem;
        color: white;
        letter-spacing: 1.2px;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: rgb(215, 163, 163);
        }
      }
    }

    .column-1 {
      grid-area: 1 / 1 / 2 / 2;
    }

    .column-2 {
      grid-area: 1 / 2 / 2 / 3;
    }
  }
}
