.fb-feedCard {
  background: #252728;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 5px;
  max-width: 700px;
  font-family: 'San Francisco', Helvetica;
  color: #050505;
  transition: all 0.5s ease;
}

.btn-theme {
  outline: none;
  display: flex;
  position: fixed;
  color: black;
  background: white;
  top: 10px;
  right: 14px;
  justify-content: center;
  align-items: center;
  font-size: 4.1vh;
  border-radius: 5px;
  border: none;
  box-shadow: white 4px 4px 12px;
  cursor: pointer;
  transition: all 0.8s ease;
  width: 8vh;
  height: 8vh;
}

.btn-theme:hover {
  color: #fff;
  background: linear-gradient(135deg, #aa01ff 20%, #020056 80%, #000 100%);
  box-shadow: #aa01ff 4px 4px 12px;
}

.btn-theme-light {
  color: yellow;
  background: #252728;
  box-shadow: black 4px 4px 12px;
}

.btn-theme-light:hover {
  color: black;
  background: linear-gradient(135deg, #fe8801 20%, #ffff00 50%, #fff 100%);
  box-shadow: yellow 4px 4px 12px;
}

.fb-feedCard-header {
  display: flex;
  align-items: center;
  margin: 12px;
}

.fb-feedCard-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 10px;
}

.fb-feedCard-info {
  display: flex;
  flex-direction: column;
}

.fb-feedCard-info strong {
  font-size: 16px;
  color: #fff;
}

.feedCard-color-light .fb-feedCard-info strong {
  color: black;
}

.fb-feedCard-info span {
  font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #b0b3b8;
}

.fb-feedCard-subInfo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: #b0b3b8;
  margin-top: 2px;
}

.feedCard-color-light .fb-feedCard-subInfo span {
  color: #65686c;
}

.fb-feedCard-content {
  margin-bottom: 4px;
  padding: 0;
}

.fb-feedCard-image {
  height: 500px;
  width: 600px;
}

.fb-feedCard-footer {
  padding-bottom: 8px;
}

.feedCard-color-light .fb-feedCard-footer span {
  color: #65686c;
}

.fb-feedCard-footer-likes-comments-container {
  display: block;
}

.fb-feedCard-footer-likes-comments-container-empty {
  display: none;
}

.fb-feedCard-footer-likes-comments {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 0 20px;
  color: #b0b3b8;
}

.reaction-group {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-top: -0.15rem;
}

.reaction-icon {
  border-radius: 50%;
  width: 22px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -5.5px;
  transition: transform 0.18s cubic-bezier(0.4, 2.3, 0.3, 1),
    background 0.5s ease, border-color 0.5s;
  position: relative;
  user-select: none;
}

.reaction-icon:first-child {
  margin-left: -5px;
}

.reaction-icon:hover {
  transform: scale(1.2) translateY(-2px);
  z-index: 99 !important;
}

.reaction-wrapper {
  position: relative;
}

.reaction-count-bubble {
  position: absolute;
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: center;
  height: auto;
  width: auto;
  background: rgba(255, 255, 255, 0.6);
  color: black;
  border-radius: 10px;
  padding: 4px 4px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s ease;
  white-space: nowrap;
  left: 35%;
  transform: translate(-50%, -3.4rem);
}

.reaction-count-bubble::after {
  content: '';
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.6) transparent transparent transparent;
}

.reaction-wrapper:hover .reaction-count-bubble {
  visibility: visible;
  opacity: 1;
}

.reaction-count-bubble strong {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.reaction-count-bubble div {
  font-size: 0.83rem;
}

.fb-feedCard-footer-likes-quantity {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  user-select: none;
}

.fb-feedCard-footer-likes-underline {
  position: relative;
  display: inline-block;
}

.fb-feedCard-footer-likes-underline::after {
  content: '';
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  height: 1px;
  bottom: 1.2px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  transform-origin: buttom center;
  transition: transform 0.3s ease;
}

.fb-feedCard-footer-likes-quantity:hover
  .fb-feedCard-footer-likes-underline::after {
  transform: scaleX(1);
  transform-origin: buttom center;
}

.fb-feedCard-footer-likes-quantity span {
  font-size: 16px;
  margin-top: 4px;
  padding: 2px 0px;
}

.fb-feedCard-footer-likes-quantity-empty {
  visibility: hidden;
  padding-bottom: 4px;
}

.fb-feedCard-footer-comments-quantity {
  display: flex;
  align-items: center;
}

.fb-feedCard-footer-comments-quantity-empty {
  visibility: hidden;
}

.fb-feedCard-footer-comments-quantity span {
  font-size: 16px;
  margin-top: 3px;
  padding: 2px 0px;
}

.fb-feedCard-footer-divider {
  border: none;
  height: 1px;
  width: 95%;
  background-color: #65686c;
  margin: 0 auto 8px auto;
}

.fb-feedCard-footer-actions {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
}

.fb-feedCard-footer-actions .fb-Fa-Icons {
  font-size: 18px;
  padding: 0;
  margin: 0;
  position: absolute;
  line-height: 1.2;
}

.fb-feedCard-footer-actions .fb-Fa-Emoji {
  line-height: 1;
}

.fb-feedCard-footer-actions span {
  margin: 0px 3px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  color: #b0b3b8;
  flex: 1;
  text-align: center;
  border-radius: 5px;
  transition: background 0.8s ease;
  user-select: none;
}

.fb-feedCard-footer-actions > span:hover {
  background: #3b3d3e;
}

.actions-hover-color-light > span:hover {
  background: #c5c6c7;
}

.fb-feedCard-footer-actions .buttons-text {
  vertical-align: 0.4vh;
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 0.8s ease, opacity 0.8s ease;
}

@keyframes hideText {
  0% {
    display: none;
  }
  100% {
    display: none;
  }
}

@keyframes showText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (width <= 600px) {
  .fb-feedCard {
    max-width: 380px;
  }

  .fb-feedCard-image {
    height: 320px;
    width: 380px;
  }

  .btn-theme {
    font-size: 2.7vh;
    width: 5.5vh;
    height: 5.5vh;
  }

  .fb-feedCard-footer-actions {
    height: 2.3rem;
  }

  .fb-feedCard-footer-likes-menu {
    margin-top: 20px;
  }

  .fb-feedCard-footer-actions .buttons-text {
    animation: hideText 0.8s forwards;
  }

  .fb-feedCard-footer-actions .fb-Fa-Icons {
    font-size: 20px;
    transform: translateX(-12px);
  }
}

@media (width > 600px) {
  .fb-feedCard-footer-actions .buttons-text {
    animation: showText 0.8s forwards;
  }
}

.fb-feedCard-footer-likes-menu {
  display: flex;
  opacity: 0;
  position: absolute;
  border-radius: 50px;
  padding: 0 3px 5px 3px;
  transform: translateY(-2rem) translateX(-0.9rem);
  transition: opacity 0.5s, transform 0.3s;
  pointer-events: none;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  z-index: 4;
}

.fb-feedCard-footer-likes-menu.show {
  opacity: 1;
  transform: translateY(-4.875rem) translateX(-0.9rem);
  animation: enablePointer 0s 0.27s forwards;
  -webkit-animation: enablePointer 0s 0.27s forwards;
}

@keyframes enablePointer {
  to {
    pointer-events: auto;
  }
}

.fb-feedCard-footer-likes-menu span {
  font-size: 33px;
  padding: 0;
  margin: 0;
}

.fb-feedCard-footer-likes-menu span:hover {
  scale: 1.4;
  transition: scale 0.5s ease;
}
