* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-rainbow {
  position: absolute;
  left: 1rem;
  top: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  font-size: 4rem;
  font-weight: 800;
  background: linear-gradient(
    270deg,
    #ff0000,
    #ffa500,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #ee82ee,
    #ff0000
  );
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 5s linear infinite, move-text 0.8s ease-out forwards;
  letter-spacing: 2px;
  user-select: none;
}

@keyframes move-text {
  0% {
    opacity: 0;
    transform: translateX(-50vh);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tetris-container {
  height: calc(100vh - 1rem);
  margin-top: 1rem;
}

.board {
  display: inline-block;
  border: 5px solid #333;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  background: linear-gradient(180deg, #111 0%, #222 100%);
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.row {
  display: flex;
}

.cell {
  width: 1.75rem;
  height: 1.75rem;
  background-color: rgba(0, 0, 0, 0.01);
}

.filled {
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, 0 0 3px #fff;
}

.ghost {
  opacity: 0.15;
  filter: brightness(1.2);
}

.next-preview {
  position: absolute;
  margin-top: 1rem;
  right: 20rem;
  width: 10rem;
  height: 10rem;
  border: 5px solid #333;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  background: linear-gradient(180deg, #111 0%, #222 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.next-preview span {
  display: flex;
  text-wrap: nowrap;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 0 0 15px #fff;
  user-select: none;
}

.next-piece {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.next-preview .cell {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
}

.next-preview .filled {
  border-radius: 5px;
}

.score {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  right: 22rem;
  top: 11.5rem;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 0 5px #0ff;
  user-select: none;
}

.type-1 {
  background-color: #ffff00;
}
.type-2 {
  background-color: #800080;
}
.type-3 {
  background-color: #00ffff;
}
.type-4 {
  background-color: #ffa500;
}
.type-5 {
  background-color: #0000ff;
}
.type-6 {
  background-color: #00ff00;
}
.type-7 {
  background-color: #ff0000;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000cc;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  user-select: none;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  user-select: none;
}

.menu-box {
  background: #1a1a1a;
  padding: 6rem 6rem 4rem 6rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px #ff00ff66, 0 0 10px #00ffff66;
  text-align: center;
  gap: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: transparent;
  animation: show-menu-title 0.6s ease forwards;
  text-shadow: 0 0 0 #00eaff, 0 0 0 #00eaff, 0 0 0 #00eaff, 0 0 0 #00eaff;
  letter-spacing: 15px;
  -webkit-animation: show-menu-title 0.6s ease forwards;
}

@keyframes show-menu-title {
  to {
    color: #fff;
    scale: 1.05;
    text-shadow: 0 0 20px #00eaff, 0 0 40px #00eaff, 0 0 60px #00eaff,
      0 0 80px #00eaff;
  }
}

.menu-subtitle {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: #cccccc;
  letter-spacing: 0px;
  text-shadow: 0 0 15px #fff, 0 0 30px #fff;
  opacity: 0;
  animation: show-elements 0.8s ease forwards;
  animation-delay: 0.3s;
}

.start-button {
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.75rem 2rem;
  margin-bottom: 4rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: show-elements 0.8s forwards;
  animation-delay: 0.3s;
}

@keyframes show-elements {
  to {
    opacity: 1;
    letter-spacing: 4px;
  }
}

.start-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ff4b2b;
}

.fade-out {
  animation: fadeOut 0.6s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

.fade-in-up {
  animation: fadeInUp 0.6s ease forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.pause-overlay {
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 4rem 4rem;
  border-radius: 10px;
  z-index: 10;
  text-align: center;
  animation: fadeIn 0.3s ease;
  gap: 2vh;
  display: flex;
  flex-direction: column;
  user-select: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.paused {
  overflow: hidden;
  filter: blur(2px) brightness(0.5);
  pointer-events: none;
}

.pause-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 3rem;
  width: 8rem;
  background: red;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
  z-index: 1001;
}

.pause-button:hover {
  background: rgb(199, 2, 2);
  transform: scale(1.1);
  box-shadow: 0 0 15px #ff4b2b;
}

.pause-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.pause-buttons button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #222;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease;
}

.pause-buttons button:hover {
  background-color: #444;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  user-select: none;
}

button:hover {
  background: linear-gradient(135deg, #ff4b2b, #ff416c);
  transform: scale(1.05);
}

button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.arrow-keys {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  bottom: 10px;
  position: absolute;
  left: calc(50% - 7vh - 30px);
  user-select: none;
}

.middle-row {
  display: flex;
  gap: 10px;
}

.key {
  background: linear-gradient(135deg, #00179b, #ff4b2b);
  font-size: 1.5rem;
  width: 7vh;
  height: 7vh;
  color: white;
  text-align: center;
  line-height: 7vh;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
}

.key:hover {
  background: #f0f0f0;
  color: #333;
}

.bg-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.reset-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000cc;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.reset-buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.reset-buttons button {
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 10vh;
}

.reset-buttons button:first-child {
  background: #28a745;
  color: white;
}

.reset-buttons button:last-child {
  background: #dc3545;
  color: white;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .menu {
    display: flex;
    scale: 0.9;
  }

  .menu-box {
    padding: 4rem 2rem 1rem 2rem;
  }

  .menu-title {
    font-size: 2.3rem;
  }

  .menu-subtitle {
    font-size: 1.5rem;
  }

  .text-rainbow {
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  .score {
    display: flex;
    top: 30dvh;
    right: 2rem;
  }

  .next-preview {
    position: absolute;
    margin: 0 auto;
    scale: 0.85;
    top: 7vh;
    right: 0;
  }

  .tetris-container {
    position: absolute;
    top: 5px;
    left: -12px;
  }

  .board {
    transform: none;
    scale: 0.85;
  }

  .arrow-keys {
    position: absolute;
    bottom: 10px;
    left: 15vw;
  }

  .key {
    width: 80px;
    height: 80px;
    font-size: 3rem;
    line-height: 80px;
  }

  .pause-button {
    height: 2.6rem;
    font-size: 1.2rem;
    top: 1.5dvh;
    right: 5px;
  }

  .pause-overlay,
  .reset-content,
  .game-over {
    width: 80vw;
  }

  .pause-overlay p {
    display: none;
  }
}
