.text-rainbow {
  left: 50%;
  top: 0px;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(
    270deg,
    #ff0000,
    #ffa500,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #ee82ee,
    #ff0000
  );
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 5s linear infinite, move-text 1s forwards;
}

@keyframes move-text {
  0% {
    transform: translateX(-100vh);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.board {
  display: inline-block;
  margin-top: 2.8rem;
  height: 36rem;
  border: 5px solid #333;
}

.row {
  display: flex;
}

.cell {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #00000065;
}

.filled {
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 5px;
}

.type-1 { background-color: #FFFF00; } /* O */
.type-2 { background-color: #800080; } /* T */
.type-3 { background-color: #00FFFF; } /* I */
.type-4 { background-color: #FFA500; } /* L */
.type-5 { background-color: #0000FF; } /* J */
.type-6 { background-color: #00FF00; } /* S */
.type-7 { background-color: #FF0000; } /* Z */
