<div class="nav-bar">
  <span class="title"> Portfolio_WEB </span>

  <button class="menu-toggle" (click)="toggleMenu()" [class.active]="menuOpen">
    <span class="menu-line"></span>
    <span class="menu-line"></span>
    <span class="menu-line"></span>
  </button>

  <ul class="list" [class.active]="menuOpen">
    <li class="list-options">
      <a class="link" [ngClass]="{ active: activeLink === 'home' }" (click)="scrollTop()">{{
        translate().home
      }}</a>
    </li>
    <li class="list-options">
      <a class="link" [ngClass]="{ active: activeLink === 'about' }" (click)="scrollTo('about')">{{
        translate().about
      }}</a>
    </li>
    <li class="list-options">
      <a
        class="link"
        [ngClass]="{ active: activeLink === 'projects' }"
        (click)="scrollTo('projects')"
        >{{ translate().projects }}</a
      >
    </li>
    <li class="list-options">
      <a
        class="link"
        [ngClass]="{ active: activeLink === 'skills' }"
        (click)="scrollTo('skills')"
        >{{ translate().skills }}</a
      >
    </li>
    <li class="list-options">
      <a
        href="mailto:brayanjimenez5218@gmail.com?subject=Hola%20Brayan"
        [ngClass]="{ active: activeLink === 'contact' }"
        (click)="scrollTo('contact')"
        class="link"
        >{{ translate().contact }}</a
      >
    </li>

    <li class="list-options lenguage-list">
      <button class="lenguage-list-btn">
        {{ translate().btnLanguage }}
        <span class="arrow">&#x25BC;</span>
      </button>
      <ul class="lenguage-list-menu">
        <li (click)="language.switchLang('es'); menuOpen = false" class="lenguage-options">
          {{ translate().menuSpanish }}
        </li>
        <li (click)="language.switchLang('en'); menuOpen = false" class="lenguage-options">
          {{ translate().menuEnglish }}
        </li>
      </ul>
    </li>
  </ul>
</div>
