* {
  margin: 0;
}

/* Fondos */
.galaxy {
  background: linear-gradient(
      200deg,
      rgba(0, 0, 139, 0.8),
      rgba(0, 0, 139, 0.5),
      rgba(0, 0, 139, 0) 50%
    ),
    linear-gradient(
      120deg,
      rgba(128, 0, 128, 0.8),
      rgba(238, 130, 238, 0.5),
      lightblue 50%
    );
}
.planets-bg {
  background: linear-gradient(black, purple, black);
  height: 185vh;
}
.planets-bg-Ss {
  background: linear-gradient(black, purple, black);
  height: 235vh;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 7px;
  background: black;
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, white, gray, blue, purple);
  border-radius: 5px;
}

/* Estrellas animadas */
.star {
  display: block;
  position: fixed;
  z-index: 0;
  width: 0;
  height: 0;
  transform: rotate(35deg);
  animation: stars 3s linear infinite;
  cursor: default;
  text-shadow: 0.7px 0.7px 28px white;
}
.star:nth-child(1) {
  font-size: 4vh;
  left: 6%;
  animation-delay: 0.5s;
}
.star:nth-child(2) {
  font-size: 8vh;
  left: 20%;
  animation-delay: 1s;
}
.star:nth-child(3) {
  font-size: 6vh;
  left: 43%;
  animation-delay: 0.7s;
}
.star:nth-child(4) {
  font-size: 3vh;
  left: 65%;
  animation-delay: 1.6s;
}
.star:nth-child(5) {
  font-size: 11vh;
  left: 80%;
  animation-delay: 3s;
}
.star:nth-child(6) {
  font-size: 6vh;
  left: 93%;
  animation-delay: 0.8s;
}
.star:nth-child(7) {
  font-size: 8vh;
  left: 11%;
  animation-delay: 2.3s;
}
.star:nth-child(8) {
  font-size: 9vh;
  left: 37%;
  animation-delay: 3s;
}
.star:nth-child(9) {
  font-size: 15vh;
  left: 87%;
  animation-delay: 1.8s;
}
.star:nth-child(10) {
  font-size: 13vh;
  left: 70%;
  animation-delay: 0.2s;
}
.star:nth-child(11) {
  font-size: 21vh;
  left: 53%;
  animation-delay: 1.4s;
}
.star:nth-child(12) {
  font-size: 17vh;
  left: 30%;
  animation-delay: 0.6s;
}
@keyframes stars {
  0% {
    bottom: 82vh;
    opacity: 0.8;
    rotate: 70deg;
  }
  20% {
    opacity: 0.3;
    rotate: 105deg;
  }
  45% {
    opacity: 0.8;
    rotate: 140deg;
  }
  70% {
    opacity: 0.3;
    rotate: 175deg;
  }
  100% {
    bottom: 0;
    opacity: 0;
    rotate: 210deg;
  }
}

/* Menú superior y logo */
nav {
  background: black;
  height: 18vh;
  width: 100%;
}
.logo {
  position: absolute;
  box-shadow: 1px 1px 28px blue;
  border-radius: 50%;
}
.logo:nth-child(1) {
  margin-left: 5vh;
  margin-top: 1.3vh;
  width: 15vh;
}
.logo:nth-child(2) {
  margin-left: 158vh;
  margin-top: 1.3vh;
  width: 15vh;
}
.logo:hover {
  animation: logo 5s linear infinite;
}
@keyframes logo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Título animado */
.R-Color {
  background-image: linear-gradient(
    to right,
    purple,
    lightblue,
    blue,
    lightblue,
    purple
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 28px white;
  display: block;
  color: white;
  font-family: monospace;
  font-size: 15vh;
  border-right: 3px solid;
  width: 15ch;
  height: 100%;
  animation: typing 3.5s steps(15), blink 1s infinite step-end,
    move 35s infinite;
  overflow: hidden;
  padding-left: 27vh;
}
@keyframes move {
  to {
    background-position: 600vh;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Botones */
.btns,
.btns-planets {
  display: flex;
  height: 20.5vh;
  justify-content: center;
  align-items: center;
}
.btn,
.btn-back {
  z-index: 1;
  margin: 3vh;
  position: relative;
  color: white;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.2vh;
  width: 28vh;
  height: 8.5vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding-left: 5.4vh;
  border: 0.5px solid white;
  transition: 0.5s;
}

.btn-back {
  position: absolute;
  top: 1vh;
  left: 1vh;
}
.btn:hover,
.btn-back:hover {
  padding-left: 0;
  padding-right: 5.4vh;
}
.btn .btn-icon,
.btn-back .btn-icon-back {
  position: absolute;
  width: 7vh;
  height: 7vh;
  background-size: cover;
  border-radius: 50px;
  left: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.btn .btn-icon {
  background-image: url(../img/btn-human.webp);
}
.btn:hover .btn-icon {
  left: calc(100% - 8vh);
  background-image: url(../img/btn-cohete.webp);
  box-shadow: 1px 1px 30px white;
}
.btn-back .btn-icon-back {
  background-image: url(../img/btn-cohete.webp);
}
.btn-back:hover .btn-icon-back {
  left: calc(100% - 8vh);
  background-image: url(../img/btn-tower.webp);
  box-shadow: 1px 1px 20px white;
}

/* Caja para Ajustar el lugar del sistema solar */
.planets-box {
  display: block;
  position: absolute;
  margin-top: 28%;
  margin-left: 50%;
}

/* Sistema Solar miniatura */
.sun-Ss,
.mercury-Ss,
.venus-Ss,
.earth-Ss,
.moon-Ss,
.mars-Ss,
.jupiter-Ss,
.saturn-Ss,
.uranus-Ss,
.neptune-Ss,
.pluto-Ss {
  position: absolute;
  border-radius: 50%;
  background-size: cover;
  transform: translate(-50%, -50%);
}
.sun-Ss {
  width: 100px;
  height: 100px;
  background-image: url(../img/Sun.webp);
  box-shadow: -4px 2px 200px rgb(255, 160, 0);
  animation: light 4s linear infinite;
  left: 50%;
  top: 50%;
}
.mercury-Ss {
  width: 20px;
  height: 20px;
  background-image: url(../img/Mercury.webp);
  box-shadow: -4px 2px 180px rgb(255, 160, 0);
  left: 43%;
  top: 42%;
  animation: orbit-mercury 2.1s linear infinite;
}
.venus-Ss {
  width: 30px;
  height: 30px;
  background-image: url(../img/Venus.webp);
  box-shadow: -4px 2px 160px rgb(255, 160, 0);
  left: 42%;
  top: 43%;
  animation: orbit-venus 5.4s linear infinite;
}
.earth-Ss {
  width: 37px;
  height: 37px;
  background-image: url(../img/Earth.webp);
  box-shadow: -4px 2px 140px rgb(255, 160, 0);
  left: 44%;
  top: 44%;
  animation: orbit-earth 8.7s linear infinite;
}
.moon-Ss {
  width: 10px;
  height: 10px;
  background-image: url(../img/Moon.webp);
  box-shadow: -4px 2px 130px rgb(255, 160, 0);
  left: 42%;
  top: 42%;
  animation: orbit-moon 2.4s linear infinite;
}
.mars-Ss {
  width: 27px;
  height: 27px;
  background-image: url(../img/Mars.webp);
  box-shadow: -4px 2px 120px rgb(255, 160, 0);
  left: 47%;
  top: 47%;
  animation: orbit-mars 16.4s linear infinite;
}
.jupiter-Ss {
  width: 55px;
  height: 55px;
  background-image: url(../img/Jupiter.webp);
  box-shadow: -4px 2px 100px rgb(255, 160, 0);
  left: 45%;
  top: 45%;
  animation: orbit-jupiter 103.9s linear infinite;
}
.saturn-Ss {
  width: 50px;
  height: 50px;
  background-image: url(../img/Saturn-1.webp);
  box-shadow: -4px 2px 80px rgb(255, 160, 0);
  left: 46.5%;
  top: 46.5%;
  animation: orbit-saturn 258s linear infinite;
}
.uranus-Ss {
  width: 23px;
  height: 23px;
  background-image: url(../img/Uranus.webp);
  box-shadow: -4px 2px 60px rgb(255, 160, 0);
  left: 48.5%;
  top: 48.5%;
  animation: orbit-uranus 736.3s linear infinite;
}
.neptune-Ss {
  width: 21px;
  height: 21px;
  background-image: url(../img/Neptune.webp);
  box-shadow: -4px 2px 40px rgb(255, 160, 0);
  left: 48.8%;
  top: 48.8%;
  animation: orbit-neptune 1444.5s linear infinite;
}
.pluto-Ss {
  width: 12px;
  height: 12px;
  background-image: url(../img/Neptune.webp);
  box-shadow: -4px 2px 20px rgb(255, 160, 0);
  left: 49.3%;
  top: 49.3%;
  animation: orbit-pluto 2173.4s linear infinite;
}

/* Animaciones de las Orbitas */
@keyframes orbit-mercury {
  from {
    transform: rotate(0deg) translateX(70px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(70px) rotate(-360deg);
  }
}
@keyframes orbit-venus {
  from {
    transform: rotate(0deg) translateX(109px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(109px) rotate(-360deg);
  }
}
@keyframes orbit-earth {
  from {
    transform: rotate(0deg) translateX(175px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(175px) rotate(-360deg);
  }
}
@keyframes orbit-moon {
  from {
    transform: rotate(0deg) translateX(30.5px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(30.5px) rotate(-360deg);
  }
}
@keyframes orbit-mars {
  from {
    transform: rotate(0deg) translateX(240px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(240px) rotate(-360deg);
  }
}
@keyframes orbit-jupiter {
  from {
    transform: rotate(0deg) translateX(300px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(300px) rotate(-360deg);
  }
}
@keyframes orbit-saturn {
  from {
    transform: rotate(0deg) translateX(359px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(359px) rotate(-360deg);
  }
}
@keyframes orbit-uranus {
  from {
    transform: rotate(0deg) translateX(418px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(418px) rotate(-360deg);
  }
}
@keyframes orbit-neptune {
  from {
    transform: rotate(0deg) translateX(458px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(458px) rotate(-360deg);
  }
}
@keyframes orbit-pluto {
  from {
    transform: rotate(0deg) translateX(486px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(486px) rotate(-360deg);
  }
}

/* Líneas de las Orbitas */
.mercury-line,
.venus-line,
.earth-line,
.mars-line,
.jupiter-line,
.saturn-line,
.uranus-line,
.neptune-line,
.pluto-line {
  border-radius: 50%;
  border: 1px dotted #ddd9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mercury-line {
  height: 140px;
  width: 140px;
}
.venus-line {
  height: 220px;
  width: 220px;
}
.earth-line {
  height: 350px;
  width: 350px;
}
.mars-line {
  height: 480px;
  width: 480px;
}
.jupiter-line {
  height: 600px;
  width: 600px;
}
.saturn-line {
  height: 720px;
  width: 720px;
}
.uranus-line {
  height: 840px;
  width: 840px;
}
.neptune-line {
  height: 915px;
  width: 915px;
}
.pluto-line {
  height: 970px;
  width: 970px;
}
.moon-line {
  height: 60px;
  width: 60px;
  border: 1px dotted white;
  position: relative;
  left: -12px;
  top: -12px;
  border-radius: 50%;
}

/* Planetas grandes */
.earth,
.jupiter,
.mars,
.mercury,
.neptune,
.pluto,
.sun,
.uranus,
.venus {
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  background-size: cover;
  position: absolute;
  display: flex;
  left: 70vh;
}
.earth {
  background-image: url(../img/Earth.webp);
  box-shadow: -4px 2px 100px #fff;
}
.jupiter {
  background-image: url(../img/Jupiter.webp);
  box-shadow: -4px 2px 100px rgb(255, 180, 80);
}
.mars {
  background-image: url(../img/Mars.webp);
  box-shadow: -4px 2px 100px rgb(255, 150, 120);
}
.mercury {
  background-image: url(../img/Mercury.webp);
  box-shadow: -4px 2px 100px rgb(255, 80, 160);
}
.neptune {
  background-image: url(../img/Neptune.webp);
  box-shadow: -4px 2px 100px rgb(0, 160, 255);
}
.pluto {
  background-image: url(../img/Pluto.webp);
  box-shadow: -4px 2px 100px rgb(144, 144, 100);
}
.uranus {
  background-image: url(../img/Uranus.webp);
  box-shadow: -4px 2px 100px rgb(10, 130, 255);
}
.venus {
  background-image: url(../img/Venus.webp);
  box-shadow: -4px 2px 100px rgb(255, 100, 100);
}
.sun {
  background-image: url(../img/Sun.webp);
  box-shadow: -4px 2px 200px rgb(255, 160, 0);
  animation: light 4s linear infinite;
}

/* Saturno y anillos */
.saturn {
  position: absolute;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  background-image: url(../img/Saturn-1.webp);
  transform: rotateX(-70deg);
}
.ring {
  position: absolute;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  left: 63vh;
  top: 13.7vh;
  border: solid 50px rgb(250, 220, 180);
  box-shadow: -4px 2px 80px #fff;
  transform-style: preserve-3d;
  transform: rotateX(70deg);
}

/* Sol animación */
@keyframes light {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1.4;
  }
  50% {
    opacity: 0.9;
    box-shadow: 1px 1px 110px rgb(255, 140, 0);
  }
  75% {
    opacity: 1.8;
  }
  100% {
    opacity: 1;
  }
}

/* Texto tipo escritura */
.info-Ss {
  position: absolute;
  left: -88vh;
  top: -8vh;
}
.text,
.text-sun {
  position: absolute;
  color: white;
  font-family: monospace;
  overflow: hidden;
}
.text {
  top: 80vh;
  left: 12vh;
  font-size: 3vh;
  max-block-size: 3.5vh;
  width: 93ch;
  animation: typing 3s steps(93), blink 1s infinite step-end;
}
.text-sun {
  left: 3vh;
  top: 4vh;
  font-size: 5vh;
}

/* Márgenes progresivos para .text */
.text:nth-child(n) {
  margin-top: calc((var(--i, 1) - 1) * 5vh);
}
.text:nth-child(1) {
  --i: 1;
}
.text:nth-child(2) {
  --i: 2;
}
.text:nth-child(3) {
  --i: 3;
}
.text:nth-child(4) {
  --i: 4;
}
.text:nth-child(5) {
  --i: 5;
}
.text:nth-child(6) {
  --i: 6;
}
.text:nth-child(7) {
  --i: 7;
}
.text:nth-child(8) {
  --i: 8;
}
.text:nth-child(9) {
  --i: 9;
}
.text:nth-child(10) {
  --i: 10;
}
.text:nth-child(11) {
  --i: 11;
}
.text:nth-child(12) {
  --i: 12;
}
.text:nth-child(13) {
  --i: 13;
}
.text:nth-child(14) {
  --i: 14;
}
.text:nth-child(15) {
  --i: 15;
}
.text:nth-child(16) {
  --i: 16;
}
.text:nth-child(17) {
  --i: 17;
}
.text:nth-child(18) {
  --i: 18;
}
.text:nth-child(19) {
  --i: 19;
}

/* Nombre planetas */
.name-planets {
  color: white;
  font-family: system-ui;
  position: absolute;
  left: -62px;
  top: -11px;
  cursor: default;
}
