:root {
  --bubble-bg-color: #dd3241;
  --popup-txt-shadow: cyan;
  --bg-semi-transparent: rgba(0, 0, 0, 0.4);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  background-color: var(--bg-semi-transparent);
  color: white;
  width: 100%;
  width: 300px;
  padding: 12px;
  border-radius: 12px;
  border: solid 2px gray;
  margin-top: 16px;
  font-size: 1.2rem;
  padding-left: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: url(/src/images/pokeball_logo.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center left 12px;
  transition: width 0.5s ease-in-out;
  backdrop-filter: blur(5px);
}

.search-input::placeholder {
  color: white;
}

.search-input:focus {
  outline: none;
  border: solid 2px red;
  width: 680px;
}

.search-pokemon-container {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.search-pokemon-list {
  border: solid 2px red;
  position: absolute;
  width: 100%;
  max-height: 160px;
  overflow-y: auto;
  border-radius: 8px;
  margin-top: 2px;
  padding: 0;
  list-style: none;
  background: var(--bg-semi-transparent);
  backdrop-filter: blur(5px);
}

.search-pokemon-list::-webkit-scrollbar {
  width: 0px;
}

.search-pokemon-list li {
  font-weight: 600;
  letter-spacing: 1px;
  padding: 8px 12px;
  cursor: pointer;
  color: white;
  background: var(--bg-semi-transparent);
}

.search-pokemon-list li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 16px;
  width: 680px;
  margin: 0 auto;
  margin-top: 65.8px;
  padding: 16px 0;
}

.pokemon-card {
  background: var(--bg-semi-transparent);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  color: white;
  gap: 5px;
  outline-offset: 2px;
  outline: solid 2px gray;
}

.pokemon-card:hover {
  transform: scale(1.025);
  outline: solid 2px red;
}

.pokemon-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.pokemon-card-image {
  width: 192px;
  height: 192px;
  object-fit: contain;
  border-radius: 10px;
  transition: scale 0.2s ease-in-out;
}

.pokemon-card:hover .pokemon-card-image {
  scale: 1.08;
  border-radius: 10px 10px 0 0;
}

.pokemon-card-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.pokemon-card-info {
  text-transform: capitalize;
  font-size: 1.2rem;
  text-align: center;
}

.pokemon-card-data {
  border-radius: 45px 5px;
  padding: 6px;
  text-align: center;
  width: 100%;
  margin: 2px;
  background: black;
  color: white;
  font-weight: 650;
  text-transform: capitalize;
  transition: scale 0.2s ease-in-out,
    border-radius 0.2s ease-in-out;
}

.pokemon-card:hover .pokemon-card-data {
  scale: 1.08;
}

.show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 12px;
  border: solid 2px white;
  background: var(--bg-semi-transparent);
  color: white;
  width: 680px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin: 0 auto;
  margin-bottom: 1rem;
  font: bold 1.4rem sans-serif;
}

.show-more:hover {
  transform: scale(1.025);
  background: red;
}

.type-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  column-gap: 4px;
}

.welcome-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-image: url(../images/welcome-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;
  border-radius: 50px;
  z-index: 2;
  color: white;
  translate: 16rem -10rem;
}

.welcome-title {
  padding-bottom: 20px;
  color: white;
}

.welcome-text {
  padding-bottom: 20px;
  color: white;
}

.bubble {
  position: relative;
  background: var(--bubble-bg-color);
  padding: 20px;
  border-radius: 48px;
  margin: 2px;
  max-width: 500px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.bubble::after {
  content: '';
  position: absolute;
  bottom: -1.6rem;
  left: 0;
  transform: translateX(-50%);
  rotate: 45deg;
  border-width: 35px 20px 0;
  border-style: solid;
  border-color: var(--bubble-bg-color) transparent transparent
    transparent;
}

.bubble::before {
  content: '';
  position: absolute;
  bottom: -1.9rem;
  left: -3px;
  transform: translateX(-50%);
  rotate: 45deg;
  border-width: 37px 22px 0;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.pokedex-image {
  position: absolute;
  z-index: 1;
  translate: -12rem 6rem;
  width: 40rem;
  height: 40rem;
}

.continue-text {
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.continue-text::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  translate: -1rem;
  background: linear-gradient(
    90deg,
    red 10%,
    black 30%,
    white 45%,
    white 55%,
    black 70%,
    white 90%
  );
  transform-origin: bottom left;
  transition: transform 0.75s ease-in-out;
}

.continue-text:hover::after {
  transform: scaleX(1.1);
  transform-origin: bottom left;
}

.not-pokemons-found-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  gap: 12px;
}

.not-pokemons-found {
  font-size: 24px;
  font-weight: 550;
}

.search-not-found {
  height: 150px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: solid 5px black;
  padding: 12px;
  border-radius: 12px;
  text-wrap: ellipsis;
  background-image: radial-gradient(
      white 30%,
      white 30%,
      black 30%,
      black 40%,
      transparent 40%
    ),
    linear-gradient(red 46%, black 46%, black 54%, white 54%);
  overflow: hidden;
}

.search-not-found-text {
  font-size: 28px;
  font-weight: 750;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  mix-blend-mode: difference;
}

.loader {
  position: absolute;
  height: 100px;
  width: 100px;
  background: linear-gradient(
    to bottom,
    rgb(254, 0, 1) 50%,
    white 50%
  );
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
  top: 40%;
  left: 45%;
  border: solid 8px black;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
}

.loader::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 100px;
  background: black;
  top: 50px;
  transform: translateY(-50%);
}

.loader::after {
  content: '';
  position: absolute;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: white;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white,
    inset 0 0 0 12px black;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.return-to-cards {
  font-size: 18px;
  cursor: pointer;
  color: white;
  letter-spacing: 1px;
  font-weight: 800;
  background: var(--bg-semi-transparent);
  width: 11vw;
  height: 7vh;
  padding: 2px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: background 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
  margin-left: 1rem;
  position: absolute;
  outline: solid 2px white;
}

.return-to-cards:hover {
  background: #ff4e00;
  box-shadow: 0 0 10px 2px red;
  transform: scale(1.05) translateY(-2px);
}

.pokemon-details {
  display: grid;
  grid-template-columns: 0.5fr repeat(4, 1fr);
  grid-template-rows: 0.5fr repeat(4, 1fr);
  gap: 0.8rem;
  text-transform: capitalize;
  margin-top: 1rem;
  margin-left: 11rem;
  background: rgba(255, 255, 255, 0.1);
  outline: solid 2px white;
  padding: 5px;
  border-radius: 15px;
  width: 85%;
  color: white;
}

.pokemon-name-details {
  font-size: 2.8rem;
  font-weight: 900;
  grid-area: 1 / 1 / 2 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  padding: 1rem;
  border-radius: 12px 12px 5px 5px;
}

.pokemon-details-image {
  width: 100%;
  height: 50vh;
  object-fit: contain;
  border-radius: 5px 45px 5px 5px;
  grid-area: 2 / 1 / 5 / 4;
  background: #fff;
  padding: 5px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
}

.span-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px 45px 15px 5px;
}

.span-details:nth-child(even) {
  border-radius: 45px 5px 15px 5px;
}

.span-details:nth-child(10) {
  border-radius: 45px 5px 15px 5px;
}

.title-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.capture-ratio-details {
  grid-area: 2 / 4 / 3 / 5;
}

.hability-details {
  grid-area: 2 / 5 / 3 / 6;
}

.type-details {
  grid-area: 3 / 4 / 4 / 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px;
}

.type-details-title {
  grid-column: 1 / -1;
}

.type-details-item {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: -24px 2px 2px 2px;
}

.category-details {
  grid-area: 3 / 5 / 4 / 5;
}

.habitat-details {
  grid-area: 4 / 4 / 5 / 5;
}

.generation-details {
  grid-area: 4 / 5 / 5 / 6;
}

.movements-details {
  grid-area: 5 / 1 / 5 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 8px;
  border-radius: 5px 5px 5px 15px;
  margin-top: -0.75px;
}

.movements-details-title {
  grid-column: 1 / -1;
}

.movements-details-item {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 5px;
}

.movements-details-item:last-child {
  grid-column: span 2;
}

.evolution-details {
  grid-area: 5 / 4 / 5 / 5;
  margin-top: -0.5px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.evolution-details:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  scale: 1.03;
}

.evolution-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  user-select: none;
  backdrop-filter: blur(5px);
  flex-direction: column;
}

.evolution-popup.show {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.evolution-popup.hidden {
  animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.evo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
  padding: 1rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
}

.evo-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  scale: 1.03;
  cursor: pointer;
}

.evo-item img {
  width: 350px;
  height: 350px;
}

.evo-text {
  margin-top: 1rem;
  text-align: center;
  font: bold 2rem sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0px 0px 10px var(--popup-txt-shadow),
    0px 0px 20px var(--popup-txt-shadow),
    0px 0px 30px var(--popup-txt-shadow);
  user-select: none;
  text-decoration: underline;
}

.evolution-popup-close {
  position: relative;
  left: 16%;
  font-size: 24px;
  color: white;
  cursor: pointer;
  user-select: none;
  text-shadow: 0px 0px 10px red, 0px 0px 20px red,
    0px 0px 30px red;
  font: bold 2rem sans-serif;
}

.region-details {
  grid-area: 5 / 5 / 5 / 6;
  margin-top: -0.5px;
}
