@media screen and (max-width: 1024px) {
  .pokemon-details {
    margin-left: 9rem;
    gap: 0.4rem;
    width: 80%;
  }

  .pokemon-name-details {
    font-size: 2rem;
    font-weight: 800;
    padding: 0.8rem;
  }

  .pokemon-details-image {
    height: 42vh;
  }

  .span-details {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 768px) {
  .pokedex-image {
    width: 30rem;
    height: 30rem;
  }

  .welcome-message {
    transform: translate(-6rem, 4rem);
    font-size: 0.8rem;
  }

  .search-input {
    font-size: 1.2rem;
  }

  .search-input:focus {
    width: 550px;
  }

  .card-container {
    width: 550px;
  }

  .pokemon-card-image {
    margin-top: -6px;
    width: 250px;
    height: 180px;
  }

  .pokemon-card:hover .pokemon-card-image {
    scale: 1.08;
    border-radius: 12px 12px 0 0;
  }

  .show-more {
    font-size: 1.2rem;
    width: 550px;
  }

  .pokemon-details-container {
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  .return-to-cards {
    font-size: 16px;
    width: 360px;
    margin: 1rem auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .return-to-cards:hover {
    left: 50%;
    transform: translate(-50%, -2px);
  }

  .pokemon-details {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    gap: 0.2rem;
    width: 90%;
    flex: 2;
    margin-top: 4.5rem;
  }

  .pokemon-name-details {
    font-size: 1.8rem;
    font-weight: 800;
    padding: 0.8rem;
  }

  .pokemon-details-image {
    height: 100%;
  }

  .span-details {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    height: 100vh;
  }

  .pokedex-image {
    width: 20rem;
    height: 20rem;
    transform: translateX(4rem);
  }

  .welcome-message {
    transform: translate(-11.5rem, 4.2rem);
    font-size: 0.6rem;
  }

  .welcome-message {
    width: 210px;
  }

  .welcome-text {
    font-size: 0.8rem;
  }

  .search-input {
    width: 280px;
    font-size: 1.1rem;
  }
  
  .search-input:focus {
    width: 385px;
  }
  
  .card-container {
    width: 385px;
  }

  .pokemon-card-name {
    font-size: 1.2rem;
  }

  .pokemon-card-info {
    font-size: 1rem;
  }
  
  .pokemon-card-image {
    margin-top: -7.5px;
    width: 175px;
    height: 150px;
  }
  
  .show-more {
    width: 385px;
    font-size: 1.1rem;
  }
  
  .return-to-cards {
    width: 280px;
    height: 50px;
  }
  
  .pokemon-details {
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .pokemon-name-details {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 0.8rem;
  }

  .pokemon-details-image {
    border-radius: 5px;
  }

  .span-details {
    font-size: 1rem;
    gap: 0.3rem;
    padding: 10px;
    border-radius: 5px;
  }

  .span-details:nth-child(even) {
    border-radius: 5px;
  }

  .span-details:nth-child(10) {
    border-radius: 5px;
  }

  .span-details:nth-child(11) {
    border-radius: 5px 5px 15px 15px;
  }

  .type-details-item {
    margin-top: 0;
  }

  .evo-item img {
    width: 280px;
    height: 280px;
  }

  .evolution-popup-close {
    font-size: 2rem;
    margin-left: 12rem;
  }
}
